/* header styles */
  body {
    background-color: #f5f8ffff;
  }



.header {
    background-image: url(../images/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* nav styles */
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 150px 0px 150px;
}


nav ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}
 a {
    text-decoration: none;
    color: white;
 }
    a:hover {
 color: #4E47FF;
    
 }
.logo {
    color: #4E47FF;
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    cursor: pointer;
}

/* shared styles  */

.primary-color {
    background-color: #4E47FF;
}

/* btn style */

 .btn-primary {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 16px;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    font-weight: bold;
}
 .btn-primary:hover {
    font-family: "Raleway", sans-serif;
    color: #4E47FF;
    background-color: white;
    border: 1px solid #4E47FF;
    border-radius: 10px;
     font-weight: bold;
     cursor: pointer;
    
 }



.head-main {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 155px;
}

.head-title {
    font-size: 58px;
    font-weight: bold;
    color: #252432;
}
/* main style */
/* section 1 style start */



.sec-1 {
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 116px 141px;
    align-items: center;
    font-family: "Raleway", sans-serif;
}


.sec-1-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.sec-1-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 0px;
    
}

.sec-1-sub-title {
    font-size: 24px;
    color: #252432;
    margin-top: 15px;
}

/* sec-2 styles */
.sec-2 {
    margin: 116px 159px 137px 141px;
    background-color: #d7d7ff;
    border-radius: 24px;
    padding: 40px 70px;
}

.sec-2 h2 {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0%;

}

.active-focus {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    padding-top: 0%;
    
}

.sec-2-number {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0%;
    align-items: center;
}

.sec-2-sub-title {
     font-family: "Inter", sans-serif;
     font-size: 20px;
     color:rgba(0, 0, 0, 0.5);
     margin-top: 0%;
     align-items: center;
     text-align: center;
}
/* section 3 style */
.sec-3 {
    margin: 137px 150px;
    font-family: "Inter", sans-serif;
   
    
}



.sec-3-title {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
    text-align: center;

}

.rate-card {
    border-radius: 14px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #F2EDED;
    padding: 24px;
}
.rate-card:hover {
    background-color: rgba(70, 66, 66, 0.075);
    cursor: pointer;
}

.comment-rate {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.profile-name {
    display: flex;
    align-items: center;
    gap:6px;
}

.rate {
    display: flex;
    
}

.sec-3-comment {
    font-size: 14px;
    color: #1e1e1edc;
}

.profile-image {
    border-radius: 9999px;
    width: 40px;
    height: 40px;
}

.review {
    font-size: 10px;
    color: #757575;
    font-weight: bolder;
}

.date {
    color: #B3B3B3;
    font-weight: 400;
}


/* section-4 styles */

.sec-4 {
    margin: 137px 150px 90px 150px;
    text-align: center;
    background-color: white;
    padding-top: 71px;
    padding-bottom: 71px;
    
    
}


.sec-4-img {
    margin-top: 20px;
    width:700px;
    height: 280px;
    border-radius: 48px;
    align-items: center;
  
    
}


.sec-4-title {
   font-family: "Raleway", sans-serif;
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 0%;
}

.sec-4-sub-title {
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color:#625b5b;
}


/* section-5 styles */

.sec-5 {
    display: flex;
    justify-content: space-between;
    gap:80px;
    align-items: center;
    margin: 90px 0 90px 150px;
    padding-top: 71px;
    padding-bottom: 71px; 
   
}

.sec-5-title {
  font-family: "Raleway", sans-serif;
   font-size: 50px;
   font-weight: bold;
}

.input-box {
    padding: 20px 32px;
    margin-top: 0;
    width:100%;
    max-width: 490px;
}

.form-name {
    font-family:"Inter", sans-serif;
    margin-top: 4px;
    margin-bottom:4px;
    font-size: 12px;
    font-weight: 500;
}

.btn-primary2 {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 16px;
    border: none;
    padding: 19px 230px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 9px;
}

.btn-primary2:hover {
    font-family: "Raleway", sans-serif;
    color: #4E47FF;
    background-color: white;
    border: 1px solid #4E47FF;
    border-radius: 10px;
     font-weight: bold;
     cursor: pointer;
}

/* footer styles */

footer {
    background-color: white;
    text-align: center;
    padding: 105px 455px;
}

.footer-button-ul {

     display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 0;
  margin: 20px 0;
}

footer ul li {
    list-style: none;
     font-family: "Inter", sans-serif;
     text-align: center;
}

footer ul li button {
    border: none;
    background-color: white;
    cursor: pointer;
    color:  #5d5a5a;
    

}
footer ul li button:hover {
    color: #4E47FF;
}


.footer-logo {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #4E47FF;
    font-size: 100px;
    margin-bottom: 0%;
}
.footer-comment {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color:  #5d5a5a;
}
