/* header styles */

.header {
    background-image: url(../images/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* nav styles */
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 150px 0px 150px;
}


nav ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}
 a {
    text-decoration: none;
    color: white;
 }
    a:hover {
 color: #4E47FF;
    
 }
.logo {
    color: #4E47FF;
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    cursor: pointer;
}

/* shared styles  */

.primary-color {
    background-color: #4E47FF;
}

/* btn style */

 .btn-primary {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 16px;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    font-weight: bold;
}
 .btn-primary:hover {
    font-family: "Raleway", sans-serif;
    color: #4E47FF;
    background-color: white;
    border: 1px solid #4E47FF;
    border-radius: 10px;
     font-weight: bold;
     cursor: pointer;
    
 }



.head-main {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 155px;
}

.head-title {
    font-size: 58px;
    font-weight: bold;
    color: #252432;
}
/* main style */
/* section 1 style start */



.sec-1 {
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 116px 141px;
    align-items: center;
    font-family: "Raleway", sans-serif;
}


.sec-1-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.sec-1-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 0px;
    
}

.sec-1-sub-title {
    font-size: 24px;
    color: #252432;
    margin-top: 15px;
}

/* sec-2 styles */
.sec-2 {
    margin: 116px 159px 137px 141px;
    background-color: #d7d7ff;
    border-radius: 24px;
    padding: 40px 70px;
}

.sec-2 h2 {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0%;

}

.active-focus {
    display: flex;
    justify-content: space-around;
    margin-top: 0%;
    padding-top: 0%;
    
}

.sec-2-number {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0%;
    align-items: center;
}

.sec-2-sub-title {
     font-family: "Inter", sans-serif;
     font-size: 20px;
     color:rgba(0, 0, 0, 0.5);
     margin-top: 0%;
     align-items: center;
     text-align: center;
}